.root {
  height: 100%;
}

.leftPanel {
  flex: 1 1 0;
}

.rightPanel {
  background-color: hsl(0, 0%, 7%);
  border-radius: 22px;
  box-sizing: border-box;
  flex: 1 1 0;
}

.editorForm {
  flex-flow: column;
  height: 100%;
}

.appFrame {
  background-color: hsl(0, 0%, 100%);
  border: none;
  flex: 1;
}
