.screenshotWrapper {
  box-shadow: 0 0.5em 1em -0.125em hsla(0, 0%, 29%, 0.1), 0 0 0 1px hsla(0, 0%, 29%, 0.02);
  display: inline-block;
  height: 100%;
  position: relative;

  &:last-child {
    margin-right: 0 !important;
  }
}

.screenshot {
  height: 100%;
  max-width: unset;
  width: initial;
}

.deleteScreenshotButton {
  box-shadow: 0 1px 2px 0 hsl(0, 0%, 0%);
  height: 36px;
  position: absolute;
  right: 0;
  top: 0;
}
