.root {
  max-width: 960px;
}

.appLogo {
  flex: 0 0 auto;
}

.appMetaWrapper {
  flex: 1 1 auto;
  flex-flow: column;
  overflow-x: hidden;

  @media (min-width: 1024px) {
    flex-flow: row;
  }
}

.appMeta {
  flex: 1 1 auto;
  overflow-x: hidden;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  align-items: center;
  display: flex;
}

.buttonContainer {
  justify-content: flex-end;

  @media (min-width: 1024px) {
    flex-flow: column;
    justify-content: flex-start;
  }
}

.descriptionHidden {
  height: 12rem;
  position: relative;

  &::after {
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1) 90%);
    bottom: 0;
    content: '';
    height: 6em;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }
}

.descriptionToggle {
  bottom: 12px;
  position: absolute;
  right: 12px;
  z-index: 1;
}
