.root {
  flex-flow: column;
  height: 100%;
}

.header {
  flex: 1 1 auto;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.headerContent {
  flex: 1 1 100%;
  overflow: hidden;
}

.nogrow {
  flex: 0 0 auto;
}

.cardBody {
  flex-flow: column;
}

.description {
  flex: 1 0 auto;
}
