.actionsCell {
  min-width: 110px;
}

.actionsCell > button,
.actionsCell > a,
.actionsCell > div {
  background-color: transparent !important;
  border: 0 solid transparent;
  box-shadow: 0 0 0 transparent;
  display: inline;
  text-shadow: 0 0 0 transparent;
  vertical-align: middle;

  &:hover {
    border: 0 solid transparent;
    box-shadow: 0 0 0 transparent;
    cursor: pointer;
    text-shadow: 0 0 0 transparent;
  }
}

.contentCell {
  vertical-align: middle;
}
