.appList {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  margin: 0 auto 1.5rem;
}

.toggle {
  border: none;
}

.titleContainer {
  align-items: center;
}
