.menuList {
  background-color: hsl(0, 0%, 100%);

  & > li > * {
    border-radius: 0;
    padding: 1em;

    &.active {
      background-color: var(--primary-color);
      color: var(--primary-color-invert);
    }
  }
}

.button {
  border: none;
  justify-content: initial;
  padding: 26px 1em !important;
  width: 100%;

  &:hover {
    background-color: hsl(0, 0%, 96%);
    color: hsl(0, 0%, 21%);
  }

  & span {
    margin-left: 0 !important;
  }
}
