.label {
  bottom: 0;
  left: 0;
  margin: 0 !important;
  padding-left: 1rem !important;
  position: absolute;
  right: 0;
  top: 0;
}

.field {
  position: relative;
  vertical-align: middle;
  width: 38px;
}
